.footer{
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #1e1d1d;
    padding: 15px 20px;
}

.footer__left{
    display: flex;
    align-items: center;
    color: white;
    width: 25%;
    min-width: 300px;

}

.footer__albumImg{
    width: 60px;
    height: 60px;
    margin-right: 20px;
    object-fit: contain;
}

.footer__center{
    color: white;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.footer__icon{
    margin: 0 20px;
}

.footer__icon:hover{
  transition: transform 0.2s ease-in-out;
  transform: scale(1.3);
}

.footer__right{ 
    color: white;
    width: 30%;
    min-width: 300px;
}

.footer__volume{
    align-items: center;
    position: relative;
    display: flex;
    width: 230px;
    gap: 20px;
    margin-left: auto;
    margin-right: 60px;
}

.footer__songInfo h4 {
    margin: 10px auto;
    width: 100%;
}

.footer__songInfo p {
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    margin-top: 5px;
}

.footer__devices{
  position: absolute;
  left: -110px;
  bottom: 50px;
  background-color: rgb(51, 51, 51);
  border-radius: 5px;
  width: 250px;
  height: 200px;
  display: none;
}

.footer__devices:before {
  content: "";
  left: 110px;
  bottom: -10px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  box-shadow: 0 1px 14px rgba(0,0,0,.2);
  background: rgb(51, 51, 51);
  position: absolute;
  z-index: -1;
}

.footer__devices hr{
  width: 80%;
  border: 1px solid #7b7b7b;
}

.footer__deviceTitle{
  text-align: center;
}
.footer__device{
  list-style: none;
  text-align: center ;
  margin: 15px;
  cursor: pointer;
}

 @media (max-width: 1000px) {
    .footer__center{
        display: none;
    }
    .footer__left{
      flex: 0.6;
    }
  .footer__right{
    flex: 0.4;
  }
}