.sidebar {
  color: white;
  width: 250px;
  background-color: #040404;
  position: fixed;
  height: calc(100% - 90px);
}

.sidebar__logo {
  height: 70px;
  padding: 10px;
  margin-bottom: 20px;
}

.sidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}

.sidebar__title {
  margin-left: 15px;
  padding: 5px;
  font-size: 12px;
}

.sidebar__main {
  overflow-y: scroll;
  height: calc(100% - 240px);
}

.sidebar__main::-webkit-scrollbar {
  width: 15px;
}
.sidebar__main::-webkit-scrollbar-thumb {
  background-color: #636770;
  border-radius: 10px;
  background-clip: padding-box;
  border: 4px solid #040404;
}

.sidebar__main::-webkit-scrollbar-track {
  background-color: #040404;
}

.sidebar_playlist {
  list-style: none;
  margin: 18px 0;
}

.sidebar_playlist a {
  text-decoration: none;
  color: rgb(159, 159, 159);
}

.sidebar_playlist a.active,
.sidebar_playlist a:hover {
  color: white;
}
